<style>
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:  rgba(107, 71, 105, 0.9);
    }
    footer p{
        color: rgba(255, 255, 255, 0.726);
        text-align: center;
    }
</style>

<footer>
    <p>ByMe</p>
</footer>