<style>
    header {
      height: 65px;
      width: 100%;
      background-color: rgba(107, 71, 105, 0.9);
      position :fixed;
      top: 0;
      left: 0;
      bottom: 0;
    }
    .header-right {
      float: right;
    }
    .header-right a {
      line-height: 65px;
      padding: 0 25px;
      color: rgba(255, 255, 255, 0.726);
      display: block;
      float: left;
      transition: all 0.5s;
    }
    .header-right a:hover {
      background-color: rgba(95, 16, 62, 0.466);
    }
    h2 {
      float: left;
      color: rgba(255, 255, 255, 0.726);
      padding: 0 25px;
    }
</style>

<header>
    <div class="header-left">
    <h2>HEllo!</h2>
    </div>
      <!-- Tambahkan ikon menu dibawah -->
    <div class="header-right">
        <a href="{% url 'indexlab-4' %}">Home</a>
        <a href="{% url 'note_list' %}">Card</a>
        <a href="{% url 'add_note' %}">Add Note</a>
    </div>
</header>