{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NoteList Card Ver</title>
    <style>
      * {
        box-sizing:border-box;
      }
      body {
        background-color: rgb(204, 166, 182);
        margin: 0;
        padding: 0;
      }
      .container h1 {
        text-align:center;
        color: rgb(83, 63, 63);
      }
      .card h2 {
        text-align:center;
        color:rgb(87, 62, 44);
        padding: 5px;
      }
      .card li {
        list-style:none;
        padding: 5px;
        text-align:center;
        color: rgb(63, 23, 53);
      }
      .container {
      
      margin: 0 auto;
      padding: 100px 0 100px 0;
      }

      .container-card {
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
      }

      .card{
        width: 20rem;
        background: #f10fb84f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        box-shadow: .4rem .4rem 2rem rgba(0,0,0,0.2);
        flex: auto;
        width: 25%;
      }

      .card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
      }
    </style>

  </head>
  <body>
    {%include "header.html" %}
    <div class='container'>
      <h1>FIND YOUR MESSAGE ON CARD VERSION ^^</h1>
      <br>
      <div class="container-card">
        
          {% if notes %}
          {% for note in notes %}
          <div class="card">
          <h2>{{ note.to }}'S MESSAGE</h2>
          <ul>
            <li><b>To:</b> {{ note.to }}</li>
            <li><b>From:</b> {{ note.dari }}</li>
            <li><b>Title:</b> {{ note.title }}</li>
            <li><b>Message:</b> {{ note.message }}</li>
            <br>
          </ul>
        </div>   
          {% endfor %}
        {% endif %}
          
      </div>
    </div>
      <!-- END SECTION -->
    {%include "footer.html" %}
  </body>
</html>