{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Lab 2</title>
    <style>
      * {
        box-sizing:border-box;
      }
      body {
        background-color: rgb(204, 166, 182);
        margin: 0;
        padding: 0;
      }
      .container h1 {
        text-align:center;
        color: rgb(83, 63, 63);
      }
      .container h2 {
        width: 100%;
        text-align:center;
        color:rgb(87, 62, 44);
        padding: 5px;
      }
      .container li {
        list-style:none;
        width: 100%;
        padding: 5px;
        text-align:center;
        color:rgb(63, 23, 53);
      }
      .container {
      max-width: 1170px;
      margin: 0 auto;
      padding: 100px 0 100px 0;
      }
    </style>
  </head>
  <body>
    {%include "header.html" %}
    <div class='container'>
      <h1>FIND YOUR MESSAGE</h1>
      <br>
      {% if notes %}
        {% for note in notes %}
        <h2>Here's Your Message :D</h2>
        <ul>
          <li><b>To:</b> {{ note.to }}</li>
          <li><b>From:</b> {{ note.dari }}</li>
          <li><b>Title:</b> {{ note.title }}</li>
          <li><b>Message:</b> {{ note.message }}</li>
          <br>
        </ul>   
        {% endfor %}
      {% endif %}
    </div>
      <!-- END SECTION -->
    {%include "footer.html" %}
  </body>
</html>