<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Add Note</title>
        <style>
            * {
                box-sizing:border-box;
            }
            body {
                background-color: rgb(204, 166, 182);
                margin: 0;
                padding: 0;
            }
            .container h2 {
                text-align: center;
                color: rgb(83, 63, 63);
                width: 100%;
                padding-bottom: 20px;
                font-size: 50px;
            }
            .container {
                max-width: 1170px;
                margin: 0 auto;
                padding: 100px 0 100px 0;
                list-style:none;
            }

            form{
                padding: 20px;
                text-align: center;
                width: 100%;    
            }
        </style>
    </head>
    
    <body>
        {%include 'header.html' %}
        <div class='container'>
            <h2>ADD NOTE FORM</h2>
            <form action="" method='POST'>
                {% csrf_token %}
                {{ form.as_p}}
            <input type="submit" value="Submit">
            </form>
        </div>
        {%include 'footer.html' %}
    </body>
    
</html>