<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      h1{
        text-align: center;
      }
      table {
        font-family: sans-serif;
        width:100%;
        border: 1px solid #f2f5f7;
        color: #444;
      }
      th {
        background: #35A9DB;
        color: #fff;
      }
      td {
        padding: 8px 20px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>FRIEND LIST</h1>
    <br>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %}
        {% for friend in friends %}
        <tr>
          <td>{{ friend.name }}</td>
          <td>{{ friend.npm }}</td>
          <td>{{ friend.dob }}</td>
        </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
