<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Lab 2</title>
    <style>
      body {
        background-color: bisque;
      }
      h1 {
        text-align:center;
      }
      h2 {
        width: 100%;
        text-align:center;
        color:rgb(87, 62, 44);
        padding: 5px;
      }
      li {
        list-style:none;
        width: 100%;
        padding: 5px;
        text-align:center;
      }
    </style>
  </head>
  <body>
    <h1>FIND YOUR MESSAGE</h1>
    <br>
    {% if notes %}
        {% for note in notes %}
        <h2>Here's Your Message :D</h2>
        <ul>
          <li><b>To:</b> {{ note.to }}</li>
          <li><b>From:</b> {{ note.dari }}</li>
          <li><b>Title:</b> {{ note.title }}</li>
          <li><b>Message:</b> {{ note.message }}</li>
          <br>
        </ul>
          
        {% endfor %}
      {% endif %}

      <!-- END SECTION -->
  </body>
</html>